<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>Full name</p>
    <%= form.text_field(:full_name) %>
  </div>

  <div>
    <p>Role</p>
    <%= form.select(:role, [['Admin', 'admin'], ['Manager', 'manager'], ['Employee', 'employee']]) %>
  </div>

  <br />
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
